# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=postgres dbname=sparkifydb user=postgres password=example")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
song_files = get_files('data/song_data')

In [5]:
filepath = song_files[0]
filepath

'/home/jovyan/work/Projects/project-1/data/song_data/A/A/A/TRAAAAW128F429D538.json'

In [6]:
df = pd.read_json(filepath, typ='series')
df.head()

num_songs                            1
artist_id           ARD7TVE1187B99BFB1
artist_latitude                   None
artist_longitude                  None
artist_location        California - LA
dtype: object

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [7]:
song_data = df[['song_id', 'title', 'artist_id', 'year', 'duration']].values.tolist()
song_data

['SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [8]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [9]:
artist_data = df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].values.tolist()
artist_data

['ARD7TVE1187B99BFB1', 'Casual', 'California - LA', None, None]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [10]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [32]:
log_files = get_files('data/log_data')

In [33]:
filepath = log_files[0]

In [34]:
df = pd.read_json(filepath, lines=True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1540919166796,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39
1,None,Logged In,Kaylee,F,0,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1540344794796,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
3,None,Logged In,Kaylee,F,2,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Upgrade,1540344794796,139,None,200,1541106132796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [35]:
df = df[df.page == 'NextSong']
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
5,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Quem Quiser Encontrar O Amor,200,1541106496796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
6,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Eriatarka,200,1541106673796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
7,Infected Mushroom,Logged In,Kaylee,F,6,Summers,440.26730,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Becoming Insane,200,1541107053796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

In [36]:
t = df[['ts']]
t['_ts'] = df['ts'].apply(lambda ts: pd.to_datetime(ts, unit='ms'))
t.head()

<ipython-input-36-f2eb917e81d8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['_ts'] = df['ts'].apply(lambda ts: pd.to_datetime(ts, unit='ms'))

              ts                     _ts
2  1541106106796 2018-11-01 21:01:46.796
4  1541106352796 2018-11-01 21:05:52.796
5  1541106496796 2018-11-01 21:08:16.796
6  1541106673796 2018-11-01 21:11:13.796
7  1541107053796 2018-11-01 21:17:33.796

In [37]:
time_data = ([
    t.ts, 
    t._ts.dt.hour, 
    t._ts.dt.day, 
    t._ts.dt.isocalendar().week, 
    t._ts.dt.month, 
    t._ts.dt.year, 
    t._ts.dt.weekday
])
column_labels = ('start_time', 'hour', 'day', 'week', 'month', 'year', 'weekday')

In [38]:
time_df = pd.DataFrame(time_data, index=column_labels).transpose()
time_df.head()

      start_time  hour  day  week  month  year  weekday
2  1541106106796    21    1    44     11  2018        3
4  1541106352796    21    1    44     11  2018        3
5  1541106496796    21    1    44     11  2018        3
6  1541106673796    21    1    44     11  2018        3
7  1541107053796    21    1    44     11  2018        3

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [39]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [44]:
user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']]

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [46]:
user_df['userId'].astype('int64')
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [47]:
for index, row in df.iterrows():
    print(row)
    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    conn.commit()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    # start_time, user_id, level, song_id, artist_id, session_id, location, user_agent
    songplay_data = (row.ts, row.level, songid, artistid, row.sessionId, row.location, row.userAgent)
    print(songplay_data)
    print("\n\n")
#     cur.execute(songplay_table_insert, songplay_data)
#     conn.commit()

artist                                                     Des'ree
auth                                                     Logged In
firstName                                                   Kaylee
gender                                                           F
itemInSession                                                    1
lastName                                                   Summers
length                                                     246.308
level                                                         free
location                               Phoenix-Mesa-Scottsdale, AZ
method                                                         PUT
page                                                      NextSong
registration                                         1540344794796
sessionId                                                      139
song                                                  You Gotta Be
status                                                         200
ts                                                   1541106106796
userAgent        "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...
userId                                                           8
Name: 2, dtype: object
(1541106106796, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')



artist                                                     Mr Oizo
auth                                                     Logged In
firstName                                                   Kaylee
gender                                                           F
itemInSession                                                    3
lastName                                                   Summers
length                                                     144.039
level                                                         free
location                               Phoenix-Mesa-Scottsdale, AZ
method                                                         PUT
page                                                      NextSong
registration                                         1540344794796
sessionId                                                      139
song                                                       Flat 55
status                                                         200
ts                                                   1541106352796
userAgent        "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...
userId                                                           8
Name: 4, dtype: object
(1541106352796, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')



artist                                                  Tamba Trio
auth                                                     Logged In
firstName                                                   Kaylee
gender                                                           F
itemInSession                                                    4
lastName                                                   Summers
length                                                     177.188
level                                                         free
location                               Phoenix-Mesa-Scottsdale, AZ
method                                                         PUT
page                                                      NextSong
registration                                         1540344794796
sessionId                                                      139
song                                  Quem Quiser Encontrar O Amor
status                                                         200
ts                                                   1541106496796
userAgent        "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...
userId                                                           8
Name: 5, dtype: object
(1541106496796, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')



artist                                              The Mars Volta
auth                                                     Logged In
firstName                                                   Kaylee
gender                                                           F
itemInSession                                                    5
lastName                                                   Summers
length                                                     380.421
level                                                         free
location                               Phoenix-Mesa-Scottsdale, AZ
method                                                         PUT
page                                                      NextSong
registration                                         1540344794796
sessionId                                                      139
song                                                     Eriatarka
status                                                         200
ts                                                   1541106673796
userAgent        "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...
userId                                                           8
Name: 6, dtype: object
(1541106673796, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')



artist                                           Infected Mushroom
auth                                                     Logged In
firstName                                                   Kaylee
gender                                                           F
itemInSession                                                    6
lastName                                                   Summers
length                                                     440.267
level                                                         free
location                               Phoenix-Mesa-Scottsdale, AZ
method                                                         PUT
page                                                      NextSong
registration                                         1540344794796
sessionId                                                      139
song                                               Becoming Insane
status                                                         200
ts                                                   1541107053796
userAgent        "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...
userId                                                           8
Name: 7, dtype: object
(1541107053796, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')



artist                                  Blue October / Imogen Heap
auth                                                     Logged In
firstName                                                   Kaylee
gender                                                           F
itemInSession                                                    7
lastName                                                   Summers
length                                                     241.397
level                                                         free
location                               Phoenix-Mesa-Scottsdale, AZ
method                                                         PUT
page                                                      NextSong
registration                                         1540344794796
sessionId                                                      139
song                                               Congratulations
status                                                         200
ts                                                   1541107493796
userAgent        "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...
userId                                                           8
Name: 8, dtype: object
(1541107493796, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')



artist                                                   Girl Talk
auth                                                     Logged In
firstName                                                   Kaylee
gender                                                           F
itemInSession                                                    8
lastName                                                   Summers
length                                                     160.156
level                                                         free
location                               Phoenix-Mesa-Scottsdale, AZ
method                                                         PUT
page                                                      NextSong
registration                                         1540344794796
sessionId                                                      139
song                                                    Once again
status                                                         200
ts                                                   1541107734796
userAgent        "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...
userId                                                           8
Name: 9, dtype: object
(1541107734796, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')



artist                                             Black Eyed Peas
auth                                                     Logged In
firstName                                                   Sylvie
gender                                                           F
itemInSession                                                    0
lastName                                                      Cruz
length                                                     214.935
level                                                         free
location              Washington-Arlington-Alexandria, DC-VA-MD-WV
method                                                         PUT
page                                                      NextSong
registration                                         1540266185796
sessionId                                                        9
song                                                       Pump It
status                                                         200
ts                                                   1541108520796
userAgent        "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...
userId                                                          10
Name: 10, dtype: object
(1541108520796, 'free', None, None, 9, 'Washington-Arlington-Alexandria, DC-VA-MD-WV', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')



artist                                                Fall Out Boy
auth                                                     Logged In
firstName                                                     Ryan
gender                                                           M
itemInSession                                                    1
lastName                                                     Smith
length                                                     200.724
level                                                         free
location                        San Jose-Sunnyvale-Santa Clara, CA
method                                                         PUT
page                                                      NextSong
registration                                         1541016707796
sessionId                                                      169
song                                Nobody Puts Baby In The Corner
status                                                         200
ts                                                   1541109125796
userAgent        "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...
userId                                                          26
Name: 12, dtype: object
(1541109125796, 'free', None, None, 169, 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')



artist                                                      M.I.A.
auth                                                     Logged In
firstName                                                     Ryan
gender                                                           M
itemInSession                                                    2
lastName                                                     Smith
length                                                     233.717
level                                                         free
location                        San Jose-Sunnyvale-Santa Clara, CA
method                                                         PUT
page                                                      NextSong
registration                                         1541016707796
sessionId                                                      169
song              Mango Pickle Down River (With The Wilcannia Mob)
status                                                         200
ts                                                   1541109325796
userAgent        "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...
userId                                                          26
Name: 13, dtype: object
(1541109325796, 'free', None, None, 169, 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')



artist                                                    Survivor
auth                                                     Logged In
firstName                                                   Jayden
gender                                                           M
itemInSession                                                    0
lastName                                                       Fox
length                                                     245.368
level                                                         free
location                                  New Orleans-Metairie, LA
method                                                         PUT
page                                                      NextSong
registration                                         1541033612796
sessionId                                                      100
song                                              Eye Of The Tiger
status                                                         200
ts                                                   1541110994796
userAgent        "Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...
userId                                                         101
Name: 14, dtype: object
(1541110994796, 'free', None, None, 100, 'New Orleans-Metairie, LA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [22]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.